$borderRadius: 0.7vw;
$width: 83.1vw;
$mainColor: #333;
$secondColor: #828282;

.detailed-information {
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $width * 0.386;

  &__btn {
    width: 2.7%;
    min-width: 0;
    align-self: start;
    border-radius: $borderRadius;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: #2F80ED;
    color: #fff;
    padding: 0;
    line-height: $width * 0.027;
  }

  &__img {
    width: 59.3%;
    height: inherit;
    object-fit: cover;
    border-bottom-left-radius: $borderRadius;
  }

  &-content {
    box-sizing: border-box;
    position: relative;
    width: 38%;
    height: inherit;
    padding: 2.3vw;
    padding-bottom: 0;
    background: #e5e5e5;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    overflow: hidden;

    &__title-date {
      display: flex;
      align-items: center;
      margin-bottom: 3vh;
    }

    &__title {
      margin: 0;
      margin-right: 2vw;
      color: $mainColor;
      font-size: 2.8vh;
      font-weight: 700;
    }

    &__date {
      margin: 0;
      color: $secondColor;
      font-size: 1.4vh;
      align-self: flex-end;
      white-space: nowrap;
    }

    &__description-title {
      font-size: 1.9vh;
      font-weight: 500;
      color: $mainColor;
      margin-bottom: 0;
    }

    &__description-text {
      height: 45%;
      color: $secondColor;
      font-size: 1.5vh;
      padding-right: 1vh;
      overflow-y: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0.7vh;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 0.7vh;
        background-color: $secondColor;
      }
    }

    &__statistics-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 45%;
    }
  }

  &__date-placeholder {
    position: absolute;
    width: 100%;
    height: 2%;
    bottom: 0;
    left: 0;
  }
}