:host {
  background: #e5e5e5;

  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5e5e5;
    height: 10vh;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-logo {
  }

  .active-btn {
    box-shadow: 2px 2px 10px #2F80ED;
  }
}