$border-radius: 4px;

.search-form {
  width: 34vw;
  height: 4.5vh;
  display: flex;
  align-items: center;
  margin: 0 1.5vw;
}

.search-input {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0.5vh 1vh;
  height: inherit;
  border: none;
  border-radius: $border-radius;
  background-color: #fff;
  outline: none;
  color: #333;
  font-size: 2vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}